{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "prefer-object-spread"
  ],
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "rules": {
    "prefer-object-spread/prefer-object-spread": 2
  }
}